@model ManualModel
@{
    var layout = "_LayoutPrince";
    Layout = layout;
}
<div class="coversheet">
    <img class="product" src="@Model.Coversheet.ProductImage" />
    <div class="info">
        <img class="logo" src="@Model.Coversheet.ProductLogo" />
        <p class="user-manual">User Manual</p>
        <p class="model">@Model.Coversheet.Model</p>
        <p class="text">@Model.Coversheet.Text</p>
    </div>
</div>

@*This is after the coversheet, since it isn't on the first page.*@
<div class="page-number-container left">
    Page number <span class="page-number-text"></span>
</div>
<div class="page-number-container right">
    Page number <span class="page-number-text"></span>
</div>


<div class="toc">
    @foreach (var section in Model.Sections)
    {
        foreach (var tocEntry in section.TableOfContents)
        {
            <div class="entry level-@tocEntry.Level">
                <a href="#@tocEntry.Id">@tocEntry.Title</a>
            </div>
        }
    }
</div>

<div>
    @foreach (var section in Model.Sections)
    {
        <div class="section">
            @Html.Raw(section.Html)
            <p class="figure">
                Test <span class="figure-text">value</span>
            </p>
            <p class="figure">
                Test <span class="figure-text">value</span>
            </p>
        </div>
    }
</div>